[submodule "meson"]
	path = meson
	url = https://gitlab.com/qemu-project/meson.git
[submodule "slirp"]
	path = slirp
	url = https://gitlab.com/qemu-project/libslirp.git
[submodule "tests/fp/berkeley-softfloat-3"]
	path = tests/fp/berkeley-softfloat-3
	url = http://gitlab.com/qemu-project/berkeley-softfloat-3.git
[submodule "tests/fp/berkeley-testfloat-3"]
	path = tests/fp/berkeley-testfloat-3
	url = https://gitlab.com/qemu-project/berkeley-testfloat-3.git
[submodule "ui/keycodemapdb"]
	path = ui/keycodemapdb
	url = https://gitlab.com/qemu-project/keycodemapdb.git
